<div class="row">
        <div class="col-md-4 text-center image-holder">
            <img ng-src="{{details.posters.detailed}}" style="height: 300px;">
        </div>
        <div class="col-md-8">
            <h1>{{details.title}}</h1>
            <p class="movie-details">
                <span class="movie-duration">{{details.title}}</span>
                <span class="divider">|</span>
                <span class="label label-action">action</span><span class="label label-thriller">thriller</span>
                <span class="divider">|</span>
                <span class="text-warning"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span>
            </p>
            <p class="description">
                {{details.synopsis}}
            </p>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://v.traileraddict.com/101106" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
            <p>
                <button class="btn btn-lg btn-primary"><i class="fa fa-star"></i> Add to favorites</button>
            </p>
        </div>
    </div>